// main scss file - vscode extension used to watch scss and output a minified css file.
// all comments will be included in this file so they are not included in the site css

// Google font imports

@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;500;600;800&family=Audiowide&family=Turret+Road:wght@500&family=Orbitron:wght@400;800&family=Oxygen:wght@400;700&family=Rubik&display=swap");

// font and colour variables used

$body_text: "Oxygen", sans-serif;
$nav_text: "Rubik", sans-serif;
$article_title: "Oxanium", sans-serif;

$matt_black: #28282b;
$ghost_white: #f8f8ff;
$slate_grey: #708090;
$cog_colour: #29afc5;

// main styling for body, header and nav used across all pages
body {
  width: 99vw;
  margin: 0;
}

// fixed height header

header {
  height: 240px;
  background-color: $matt_black;
  z-index: 2;
}

// flex spaces 3 parts to nav out evenly

nav {
  display: flex;
  justify-content: space-between;
  color: $ghost_white;

  ul {
    position: relative;
    top: -50px;
    right: 40px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin: 20px;

    li {
      text-align: end;
      margin: 10px;

      // position relative used for pseudo element - border after each nav link
      a {
        color: inherit;
        position: relative;
        font-family: $article_title;
        font-size: 18px;
        text-decoration: none;
        line-height: 1.3em;
        letter-spacing: 0.3em;
        padding-bottom: 5px;

        &:hover {
          color: $cog_colour;
        }

        &:before {
          content: "";
          position: absolute;
          background-color: $ghost_white;
          width: 92%;
          height: 3px;
          bottom: 0;
          right: 6px;
        }

        &:hover:before {
          background-color: $cog_colour;
        }
      }
    }
  }
}

#logo {
  position: relative;
  width: 3vw;
  top: 5rem;
  left: -2rem;

  img {
    height: 12%;
    position: absolute;
    transform: rotate(-90deg);
  }

  #logo_text {
    left: 25px;
    z-index: 2;
  }

  #logo_cog {
    height: 80px;
    left: 58px;
    top: 40px;
    z-index: 1;
    animation: rotation 20s infinite linear;
  }
}

// keyframe animation used to transform rotate the cog in the logo infinetly through 360
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#social_media {
  margin-left: 200px;
  a img {
    vertical-align: middle;
    height: 1.2vw;
    margin: 1.2rem 0.2rem;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: $body_text;
    font-size: 14px;
    margin-right: 0.2rem;

    &:hover {
      color: $cog_colour;
    }
  }

  span {
    font-weight: bolder;
  }
}

#TG {
  position: relative;
  text-align: center;
  top: -50px;
  font-family: "Audiowide";
  font-size: 2.5vw;
  text-transform: uppercase;
  color: $ghost_white;
  margin: 0;
  text-shadow: 1px 1px 1px #000, 3px 3px 4px $cog_colour;
}

section h3 {
  font-family: $nav_text;
  font-size: 2vw;
  margin: 0 0 5px 35px;
  color: $cog_colour;
  text-transform: uppercase;
}

#main_article_image {
  margin: 0 0 0 20px;
  width: 65%;
  height: 40%;
  float: left;
  shape-outside: url(/images/homepage/audi_a6.png);
  shape-image-threshold: 0.9;
  shape-margin: 0.8%;
}

#main_article {
  width: 92vw;
  padding: 2%;
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  h2,
  p {
    font-family: $article_title;
  }

  h2 {
    position: relative;
    font-family: $article_title;
    font-weight: lighter;
    font-size: 5vw;
    text-transform: uppercase;
    color: $slate_grey;
    margin: 0 10px 1vw 10px;
  }

  .author_info {
    font-size: 1vw;
    color: darkslategrey;
  }

  p {
    margin: 0 1% 2% 1%;
    font-size: 1.4vw;
    color: darkslategrey;
    text-align: right;
  }
}

// hex_gallery styling

.article_gallery {
  width: 92vw;
  margin: 1% auto 5%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 18vw;
  border: 25px solid $matt_black;
}

// hexagon images for articles

.hex_article {
  display: flex;
  position: relative;
  width: 20vw;
  height: 22vw;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;

  // overlay created with opacity set to 0 so that it can be shown on hover by setting to 1

  .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    color: $ghost_white;
    border-left: $cog_colour 8px solid;
    font-family: $article_title;
    font-size: 1.4vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    text-decoration: none;

    h4 {
      width: 90%;
      font-size: 2vw;
    }
  }
}

// hover pseudo used to show overlay
.hex_article:hover .overlay {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

// grid positioning for hexagon tiles.

.hex_article:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex_article:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex_article:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hex_article:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex_article:nth-child(5) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex_article:nth-child(6) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex_article:nth-child(7) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hex_article:nth-child(8) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex_article:nth-child(9) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hex_article:nth-child(10) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}

// electric category page ************************************************

#electric_main {
  position: relative;
  top: -30px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 75vh auto;
  gap: 15px;
  color: honeydew;

  h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 9vw;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(255, 204, 0);
    text-shadow: 8px 8px 6px $slate_grey;
    font-family: "Orbitron", sans-serif;
  }

  #electric_top_article_text {
    padding-top: 0.5vw;
  }
}

#electric_top_article {
  max-width: 90vw;
  padding-left: 20px;

  a {
    text-decoration: none;
  }

  img {
    height: 72vmin;
    float: right;
    shape-outside: url(/images/electric/toyota_bz4x.png);
    shape-image-threshold: 0.7;
    shape-margin: 0.8%;
  }

  h3 {
    font-family: $article_title;
    font-weight: lighter;
    font-size: 5vw;
    text-transform: uppercase;
    color: darkslategrey;
    text-align: right;
    margin: 0 2.5vw 4vw 2.5vw;
  }

  p {
    font-size: 1.4vw;
    color: darkslategrey;
    font-family: $article_title;
    margin-bottom: 0;
    padding-right: 25px;
  }

  .author_info {
    font-size: 1vw;
  }
}

//  article cards

#electric_articles {
  position: relative;
  clear: both;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 5vw;

  article {
    a {
      margin-bottom: 20px;
      text-decoration: none;

      &:hover .electric_article_text {
        border: 3px solid $cog_colour;
      }

      img {
        position: relative;
        width: 15vw;
        height: 16vw;
        float: left;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        margin: 1vw 1vw 2vw 1vw;
      }
    }

    .electric_article_text {
      width: 27vw;
      height: 15vw;
      border: 3px solid white;
      margin: 25px 0 25px 25px;
      background-color: black;
    }

    h4 {
      font-family: "Orbitron", sans-serif;
      color: rgb(237, 237, 237);
      font-size: 1vw;
      margin: 0;
      padding: 1vw 1vw 0 1vw;
    }

    p {
      font-family: "$body_text", sans-serif;
      color: whitesmoke;
      font-size: 0.8vw;
      line-height: 1.2em;
      padding: 1vw;
      margin: 0;
    }
  }
}

// Audi article styling

#audi_article {
  max-width: 90vw;
  margin: 0 auto;
  font-family: $article_title;
  font-size: 1.2em;

  h2 {
    position: relative;
    font-family: $article_title;
    font-weight: lighter;
    font-size: 5vw;
    text-transform: uppercase;
    color: $slate_grey;
    text-align: center;
    margin-top: 0;
  }

  p {
    padding: 15px 0;
  }

  #audi_top_image {
    max-width: 90vw;
    float: left;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    shape-outside: polygon(100% 0, 0 0, 0 100%);
    shape-image-threshold: 0.7;
    shape-margin: 0.8%;
  }

  #audi_bottom_image {
    float: left;
    max-width: 90vw;
    shape-outside: polygon(100% 100%, 0 0, 0 100%);
    shape-image-threshold: 0.7;
    shape-margin: 0.8%;
    -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }

  #mini_gallery {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    img {
      height: 12vw;
    }
  }
}

// Footer styling

footer {
  padding: 2% 3%;
  background-color: $matt_black;
  color: $ghost_white;
  clear: both;
  font-family: $body_text;
  font-size: 0.7vw;
  border-top: 2px rgb(245, 245, 245) solid;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      position: relative;
      padding: 0 10px;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        text-decoration: underline;
      }

      &:first-child {
        padding-left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: white;
        width: 1px;
        height: 75%;
        bottom: 2px;
        right: 0;
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  #upper_footer {
    padding-bottom: 1%;

    a {
      text-transform: uppercase;
    }
  }

  #lower_footer {
    border-top: 1px solid white;
  }

  .footer_bold {
    font-size: 0.8vw;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
  }
  #footer_no_money {
    max-width: 650px;
    padding-left: 5%;
  }
  #footer_more {
    display: block;
    text-align: end;

    &:hover {
      text-decoration: underline;
    }
  }
}
